---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");
const img_url="https://res.cloudinary.com/dtm8qhbwk/image/upload/c_thumb,q_medium,f_auto,w_200/v1720813611/blog/stock/vincentiu-solomon-ln5drpv_ImI-unsplash_ihdhru.webp"
---

<BaseLayout 
  title="Blog" 
  description="All the blogs posts I have published so far on the site"
  image={img_url}>
  {
    blogPosts.map((p) => (
      <article class="card">
        <header class="card-header">
          <h1>{p.data.title}</h1>
        </header>
        <img src={p.data.image} alt={p.data.image_alt} />
        <ul class="card-tags">
          {p.data.tags.map((tag) => (
            <li class="card-tag">{tag}</li>
          ))}
        </ul>
        <section>
          <p class="card-description">{p.data.description}</p>
        </section>
        <a href={`/blog/${p.slug}`} class="card-link-button">
          Read More
        </a>
      </article>
    ))
  }
</BaseLayout>

<style>
.card {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  border: 2px solid rgba(11, 2, 39, 0.95);
  border-radius: 1rem;
  box-shadow: 3px 4px 0.25rem rgba(11, 2, 39, 0.55);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 1px 2px 0.2rem rgba(11, 2, 39, 0.55);
}

.card-tags {
  display: flex;
  list-style-type: none;
}

.card-tag {
  padding: 0 0.25rem;
  display: inline;
}

.card-description {
  text-align: center;
}

.card-link-button {
  padding: 1rem 1.5rem;
  border: solid rgba(25, 10, 75, 0.95) 1px;
  border-radius: 0.5rem;
  background: rgba(11, 2, 39, 0.95);
  color: #fff;
  box-shadow: 6px 5px 0.25rem rgba(11, 2, 39, 0.55);
  transition: box-shadow 0.3s ease-in-out, border 0.1 ease-in;
}

.card-link-button:hover {
  box-shadow: 3px 2px 0.25rem rgba(11, 2, 39, 0.55);
}

.card-link-button:active {
  border: groove white 2px;
}
</style>