---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");
const img_url="https://res.cloudinary.com/dtm8qhbwk/image/upload/c_thumb,q_medium,f_auto,w_200/v1720813611/blog/stock/vincentiu-solomon-ln5drpv_ImI-unsplash_ihdhru.webp"
---

<BaseLayout 
  title="Blog" 
  description="All the blogs posts I have published so far on the site"
  image={img_url}>
  {
    blogPosts.map((p) => (
      <article class="card">
        <header class="card-header">
          <h1>{p.data.title}</h1>
        </header>
        <section>
          <p class="card-description">{p.data.description}</p>
        </section>
        <img src={p.data.image} alt={p.data.image_alt} />
        <ul class="card-tags">
          {p.data.tags.map((tag) => (
            <li class="card-tag">{tag}</li>
          ))}
        </ul>
        <a href={`/blog/${p.slug}`} class="card-link-button">
          Read More
        </a>
      </article>
    ))
  }
</BaseLayout>