---
layout: "layouts/blog.njk"
---

{% for post in collections.blogPosts %}
  <article class="grid">
    <section class="container">
      <hgroup>
        <h2>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
        <p>{{ post.data.description }}</p>
        <small>{{ post.data.publishDate | formatDate }}</small>
      </hgroup>
    </section>
    <img
      src="{{post.data.image}}"
      alt="{{ post.data.image_alt }}"
      style="place-self: center;">
  </article>
{% endfor %}