---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("portfolio");
---

<BaseLayout title="Portfolio" />
{
  projects.map((p) => (
    <article>
      <header>
        <h1>{p.data.title}</h1>
      </header>
      <img src={p.data.image} alt={p.data.image_alt} />
      <ul>
        {p.data.tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      <section>
        <p>{p.data.description}</p>
        <a href={`portfolio/${p.slug}`}>Read More</a>
      </section>
    </article>
  ))
}
